*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header{
    width: 100%;
    height: 1075px;
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: 1440px 1075px;
    background-position: center;
}

.container{
    margin: auto;
    max-width: 1170px;
}

/* Navigation tab */
.main{
    padding-top: 30px;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: #FFFFFF;
    border: 2px solid #FFF1E8;
    border-radius: 3px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    padding: 15px;
}

.navtab{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo{
    margin-left: 20px;
    margin-right: 70px;
}

ul a{
    text-shadow: 1px 0 #FFF1E8, -1px 0 #FFF1E8, 0 1px #FFF1E8, 0 -1px #FFF1E8;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    color: #584F49;
    margin-left: 35px;
    transition: color 300ms, border 300ms;
}

#buttons{
    align-self: center;
}

#buttons button{
    margin: 0 10px;
    border: 0;
    width: 122px;
    height: 48px;
    font-weight: 600;
    font-size: 16px;
}

#sign-in, #sign-up{
    background-color: transparent;
    transition: color 300ms, background 500ms;
}

ul a:hover{
    color: #FF9F66;
    border-bottom: 1px solid #FF9F66;
}

#buttons button:hover{
    color: #FF9F66;
    background-color: #FFF1E8;
    border-radius: 6px;
}


/* Header Title */
.header-title{
    margin-top: 100px;
    width: 515px;
    line-height: normal;
}

.header-title h1{
    font-weight: 800;
    font-size: 70px;
    margin-bottom: 22px;
}

.header-title p{
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 48px;
}

.header-title button{
    font-weight: 600;
    font-size: 18px;
    width: 182px;
    height: 58px;
    border: 1px solid #B0B4C0;
    border-radius: 6px;
    background-color: transparent;
    transition: color 300ms, background 300ms;
}

#btn-start{
    margin-right: 23px;
}

.header-title button:hover{
    color: white;
    background-color: #FF9F66;
    box-shadow: 0px 0px 6px #FF9F66;
    border: none;
}

/*Cards*/
#cards-container{
    max-width: 100%;
    margin-top: 140px;
    margin-bottom: 54px;
    display: flex;
    justify-content: space-between;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 282px;
    height: 282px;
    box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 25px;
}

.card-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.card-number{
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: #CFCFCF;
}

.card img{
    width: 230px;
    height: 118px;
    border-radius: 6px;
}

#bigger-img{
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    object-position: right top;
}

/* Statistic */
#stat-container{
    margin-top: 150px;
    margin-bottom: 300px;
    width: 100%;
    height: 423px;
    display: flex;
}

#statistic{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}

.stat-card{
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stat-card-number{
    font-weight: bold;
    font-size: 50px;
}

.stat-card-title{
    font-weight: bold;
    font-size: 20px;
}

.stat-card-info{
    font-size: 16px;
}

#founder{
    display: flex;
    width: 50%;
    padding: 60px;
}

#founder div{
    margin: auto;
}

#founder-title{
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 48px;
}

#founder-sign{
    font-family: 'Homemade Apple', cursive;
    font-size: 32px;
    line-height: 69px;
    color: #FF9F66;
}

#founder-name{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

#founder-name span{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px
}

/* Yoga Video Container */
.container-gray{
    margin: auto;
    width: 1440px;
    background-color: #F5F6F9;
}

#video-container{
    position: relative;
    margin: auto;
    width: 1170px;
    height: 864px;
}

#yoga-video{
    position: relative;
    top: -150px;
    background-image: url(/images/young-beautiful-lady-big.png);
    border-radius: 16px;
    width: 100%;
    height: 622px;
}

#yoga-desc{
    position: relative;
    width: 85%;
    height: 164px;
    margin-top: -72px;
    display: flex;
}

#yoga-desc-line{
    position: absolute;
    width: 70px;
    height: 2px;
    background-color: #FF9F66;
}

#yoga-desc-title{
    width: 60%;
    margin: auto;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
}

#yoga-desc-getstart{
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#yoga-desc-getstart p{
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

#yoga-desc-getstart button{
    width: 140px;
    height: 48px;
    border-radius: 4px;
    background-color: #FF9F66;
    color: white;
    border: 0;
}

/* Popular Courses */
#popular-courses{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 72px;
}

#popular-courses-title{
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 18px;
}

#popular-courses-subtitle{
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

#popular-courses button{
    width: 140px;
    height: 48px;
    border-radius: 4px;
    background-color: #FF9F66;
    color: white;
    border: 0;
    align-self: center;
}

#popular-courses-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 55px;
    width: 100%;
    height: 512px;
}

.popular-courses-card{
    width: 30%;
    padding: 0 28px 28px 34px;
    box-shadow: 0px 18px 20px rgba(0, 0, 0, 0.15);
    border-radius: 14px;
}

.popular-courses-card img{
    margin: auto;
}

.popular-courses-card-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 12px;
}

.popular-courses-card-subtitle{
    font-size: 14px;
    line-height: 24px;
}

.card-rating{
    display: flex;
    margin-top: 22px;
}

.card-rating img{
    width: 108px;
    height: 16px;
    margin: 0 7px 0 0;
    align-self: center;
}

.card-rating-btn{
    margin-left: auto;
}

/* Pricing Plan */
.container-margin{
    padding-top: 150px;
    padding-bottom: 150px;
}

#price-container{
    width: 1170px;
    margin: auto;
}

#price-title{
    padding-bottom: 18px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
}

#price-subtitle{
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 140px;
}

#price-card-holder{
    display: flex;
    justify-content: space-between;
}

.price-card{
    width: 368px;
    height: 668px;
    background-color: #FFFFFF;
}

.subscribe-option{
    height: 190px;
    border-bottom: 2px solid #F4F5F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
}

.subscribe-price{
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
}

.subscribe-recommendation{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.price-card-subtitle{
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    padding-top: 18px;
    padding-bottom: 26px;
}

.price-card-advantages{
    margin: 0 30px 30px;
    height: 300px;
}

.price-card-advantages-option{
    display: flex;
    padding: 16px;
    margin-bottom: 12px;
    align-content: center;
    border: 1px solid #F4F5F7;
    border-radius: 4px;
}

.price-card-advantages-option img{
    margin-right: 16px;
}

.price-card-buttons{
    display: flex;
    margin: 0px 30px 30px 30px;
}

.book{
    width: 83%;
    height: 50px;
    background-color: #FFFFFF;
    color: #FF9F66;
    border: 1px solid #FF9F66;
    border-radius: 4px 0 0 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}

.arrow{
    width: 17%;
    height: 50px;
    border: 0;
    background-color: #FF9F66;
}

.arrow img{
    margin: auto;
}

.highlighted-option{
    background-color: #FF9F66;
    border: 2px solid #FF9F66;
}

.highlighted-text{
    color: #FFFFFF;
}

.highlighted-book{
    background-color: #FF9F66;
    color: #FFFFFF;
}

.highlighted-arrow{
    background-color: #FFB081;
}

/* Commentary */
#commentary{
    width: 85%;
    margin: 150px auto;
}

#commentary-title{
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    padding-bottom: 125px;
    text-align: center;
}

#commentary-box{
    margin: auto;
    margin-bottom: 61px;
    width: 80%;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 60px 150px -20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
}

#commentary-box img{
    margin: auto;
    position: relative;
    top: -54px;
}

#commentary-quote{
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    padding: 0 74px 28px 74px;
}

#commentary-person{
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    padding-bottom: 35px;
}

#commentary-person span{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

#slider{
    margin: auto;
}

/* Email */
.green{
    background-color: #258675;
    padding: 100px 0;
}

.email-container{
    width: 1170px;
    border: 10px solid #45A090;
    border-radius: 8px;
    margin: auto;
    padding: 70px 209px;
}

#email-title{
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    color: #FFFFFF;
    padding-bottom: 14px;
}

#email-subtitle{
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.email-container form{
    margin: 48px 0 0 0;
    width: 752px;
    height: 58px;
}

.email-container form input{
    width: 74%;
    background-color: transparent;
    border: 1px solid #45A090;
    border-radius: 4px 0 0 4px;
}

.email-container form input::placeholder{
    color: #94CAC0;
}

.email-container form button{
    width: 25%;
    height: 100%;
    background-color: #FF9F66;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    border: none;
    margin: 0;
}

#get-email{
    padding: 16px 24px;
}

/* Footer */
#footer{
    margin-top: 150px;
    width: 1170px;
    height: 792px;
    position: relative;
    display: flex;
}

#footer img{
    width: 100%;
    height: 605px;
    position: absolute;
    z-index: -1;
    top: 100px;
}

.footer-text{
    padding: 0 48px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-title{
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
}

.footer-subtitle{
    font-size: 18px;
    line-height: 28px;
}

.footer-container-form{
    width: 50%;
}

.footer-form{
    float: right;
    padding: 45px 40px;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 564px;
    height: 620px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 80.6px 105.701px rgba(51, 51, 51, 0.1);
}

.input-text{
    border: 1px solid #CFCFCF;
    border-radius: 5px;
    padding: 17px 25px;
    margin-bottom: 20px;
    height: 60px;
}

.footer-mess{
    height: 166px;
}

#footer-checkbox{
    width: 22px;
    height: 22px;
    border: 1px solid #CFCFCF;
    border-radius: 3px;
}

.footer-checkbox-text{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
}

.footer-checkbox-text span{
    color: #FF9F66;
}

.footer-submit{
    width: 155px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #FF9F66;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.social{
    position: relative;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social p{
    left: 40%;
    position: absolute;
    font-size: 14px;
    line-height: 24px;
    color: #584F49;
}

.social-icons{
    display: flex;
    justify-content: space-between;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    margin-right: 20px;
}

.instagram{
    margin-right: 0px;
}